@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Noto+Serif&display=swap");
.sans-serif {
  font-family: "Montserrat", sans-serif;
}

.serif {
  font-family: "Noto Serif", serif;
}

body {
  background-image: url("../img/dots.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "intro swiper" "final final";
  }
  .hero-section__intro-heading-container {
    grid-area: intro;
  }
  .hero-section .swiper {
    grid-area: swiper;
  }
  .hero-section .final-container {
    grid-area: final;
  }
}
@media screen and (min-width: 1024px) {
  .hero-section {
    display: flex !important;
    flex-direction: row;
  }
}

#first-slide {
  background: url("../img/jackson-david-1Y2snhZhH7M-unsplash.jpg"), rgba(0, 0, 0, 0.57) top center/cover;
  background-blend-mode: overlay;
  background-size: cover;
}

#second-slide {
  background: url("../img/jackson-david--oW0q0iOgBc-unsplash.jpg"), rgba(0, 0, 0, 0.77) top center/cover;
  background-blend-mode: overlay;
  background-size: cover;
}

#third-slide {
  background: url("../img/image 4.jpeg"), rgba(0, 0, 0, 0.57) top center/cover;
  background-blend-mode: overlay;
  background-size: cover;
}

.color {
  color: #77000b;
}

.show-menu {
  right: 0 !important;
}

.show-close-btn {
  right: 1.5em !important;
}

.swiper-pagination span {
  width: 15px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(206, 206, 206);
}

.animate h1 {
  -webkit-animation: animateHeading 1.5s ease 1 normal;
          animation: animateHeading 1.5s ease 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes animateHeading {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}

@keyframes animateHeading {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}
@media screen and (min-width: 480px) {
  .slide-text {
    font-size: 1rem !important;
  }
}
@media screen and (min-width: 700px) {
  .slide-text {
    padding-right: 1rem !important;
  }
}

.slide-img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 600px) {
  .slide-img {
    aspect-ratio: 4/3;
  }
}

.service:hover, .service:nth-of-type(even) {
  background-color: white;
}
.service:hover .service-name, .service:nth-of-type(even) .service-name {
  color: #991b1b;
}
.service:hover .service-description, .service:nth-of-type(even) .service-description {
  color: black;
}

.catalogue-img {
  flex: 1 0 50%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.fade {
  opacity: 1;
}

slide-in {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 250ms ease-in;
}
slide-in.fade {
  opacity: 0;
  transform: translateY(0);
}/*# sourceMappingURL=style.css.map */