#first-slide {
  background: url('../img/jackson-david-1Y2snhZhH7M-unsplash.jpg'), rgba(0, 0, 0, 0.57) top center / cover;
  background-blend-mode: overlay;
  background-size: cover;
}

#second-slide {
  background: url('../img/jackson-david--oW0q0iOgBc-unsplash.jpg'), rgba(0, 0, 0, 0.77) top center / cover;
  background-blend-mode: overlay;
  background-size: cover;
}

#third-slide {
  background: url('../img/image 4.jpeg'), rgba(0, 0, 0, 0.57) top center / cover;
  background-blend-mode: overlay;
  background-size: cover;
}

.color {
  color: #77000B;
}

.show-menu {
  right: 0 !important;
}

.show-close-btn {
  right: 1.5em !important;
}

.swiper-pagination {
  span {
    width: 15px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(206, 206, 206);
  }
}

.animate {
  h1{
    animation: animateHeading 1.5s ease 1 normal;
    animation-fill-mode: forwards;
  }
}

@keyframes animateHeading {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}
